* {
    padding: 0;
    margin: 0;
}

header {
    background-color: #202c36;
    color: white;
    display: flex;
    justify-content: space-between; 
    padding: 10px 20px; 
  }

  nav {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .burgerMenu {
    cursor: pointer; 
    font-size: 20px; 
  }

  .menu {
    display: flex; 
    align-items: center; 
    color: white;
  }

  .menu a, #enter {
    margin-left: 50px; 
    font-size: 20px;
    text-decoration: none;
    color: white;
  }




  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.848);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  
  .login-box .user-box label {

    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box  input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }

  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
  }
  
  
  
  .modal .login-button {
    background-color: #007BFF;
    color: white; 
    border: none; 
    padding: 10px 20px;
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px;
    transition: background-color 0.3s ease; 
    margin-left: 38%;
  }




  .enter-active {
    position: absolute; 
    z-index: 1; 
    right: 20px;
}

.close {
    font: 20px;
}






@media (max-width: 901px) {
    .menu {
      display: none; 
    }
  
    .menu a {
      margin-left: 0; 
    }
  
    .menu.active {
      display: flex; 
      flex-direction: column; 
      position: absolute; 
      top: 51.8px; 
      left: 0;
      background-color: #202c36;
      width: 100%; 
      box-sizing: border-box; 
    }
    
    .menu.active a {
      padding: 10px 20px; 
      font-size: larger;
      border: 2px solid silver;
      width: 100%; 
      box-sizing: border-box; 
    }
  }



  @media (min-width: 902px) {
    .burgerMenu {
      display: none;
    }
  
    .menu {
      display: flex; 
    }
  }
  
  @media (max-width: 505px) {
    .menu {
      display: none; 
    }
  }