*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column; /* Устанавливаем направление для flex контейнера */
    height: 200vh;
    width: 100%;

}

main {
    flex: 1; /* Основной контент занимает доступное пространство */
    display: flex;
    flex-direction: column;
}

